.app-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh; /* Full viewport height */
}

.main-content {
  flex: 1;
  padding: 10px 20px;
  margin: 60px 118px 60px;
  max-width: 1200px;
}

header, .main-content, footer {
  width: 100%;
}


header {
  background-color: #87CEEB;
  padding: 10px 20px;
  color: white;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

footer {
  background-color: #333;
  color: white;
  padding: 10px 20px;
  text-align: center;
}
